version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: pat-discord-lnbits-bot_web_1
      APP_PORT: 3050
    
  web:
    build: .
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/app/data
    environment:
      - APP_DATA_DIR=/app/data
